/* root elements style*/
html {
  min-height: 100%;
}
body {
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.root {
  position: static;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* navpanel style */
.header {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
.navigation {
  width: 100%;
  height: 128px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 64px;
}
.navigation img {
  width: 128px;
  height: 128px;
}
.ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.main {
  padding-left: 20px;
  position: static;
  width: 85%;
  text-align: left;
  padding-right: 50px;
}
.main-planet {
  padding: 0;
  width: 80%;
  text-align: left;
  flex: 1;
  margin: auto;
}

.main-content {
  flex: 1;
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar {
  width: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #060a30;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
.sidebar a {
  padding: 10px;
  margin: 7px;
  background-color: #0d1561;
  border-radius: 10px;
  cursor: pointer;
}
.main-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-top: 50px;
}
.main-footer img {
  height: 60px;
  margin: 10px;
  width: auto;
}

.main h1 {
  text-align: center;
  /* vertical-align: middle;
  line-height: 45px; */
}
.star {
  position: absolute;
  background: radial-gradient(
    ellipse at center,
    rgba(177, 198, 219, 1) 2%,
    rgba(5, 63, 118, 1) 100%
  );
  border-radius: 100%;
  animation: shine infinite alternate;
}
@keyframes shine {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  40% {
    transform: scale(1);
    opacity: 0.9;
  }
  40% {
    transform: scale(0.2);
    opacity: 0.2;
  }
  60% {
    transform: scale(0.2);
    opacity: 0.1;
  }
  80% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.9);
    opacity: 0.9;
  }
}
.router-link-active,
.router-link-exact-active {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
/* Sidebar styles */
p.fade {
  position: absolute;
  top: calc(50% - 150px);
  left: 15%;
  width: 40%;
  height: auto;
  min-height: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background: rgb(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  z-index: 1;
  color: #ffffff;
  font-size: 30;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s linear, transform 0.25s linear;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-enter-to {
  opacity: 0.5;
}
/* Header styles */
.burger {
  position: relative;
  width: 40px;
  height: 35px;
  display: block;
  margin-left: 10px;
}
.burger .secondLine,
.burger .firstLine::after,
.burger .firstLine::before {
  transition: 0.5s;
  height: 3px;
  width: 100%;
  position: absolute;
  background: #f4acc4;
  margin: 0 auto;
}
.burger .secondLine {
  top: 16px;
}
.burger .firstLine::after {
  content: "";
  bottom: 5px;
}
.burger .firstLine::before {
  content: "";
  top: 5px;
}
.burger {
  cursor: pointer;
}

.burger.cross .secondLine {
  opacity: 0;
  transition: 0.5s;
}
.burger.cross > .firstLine::before {
  transform: rotate(45deg);
  top: 16px;
  transition: 0.4s;
}
.burger.cross > .firstLine::after {
  transform: rotate(-45deg);
  bottom: 16px;
  transition: 0.4s;
}

.burgerUl {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.burgerUl a {
  padding: 12px 24px;
  text-decoration: none; /* Убираем подчеркивание */
  border-radius: 8px;
  width: 200px;
}

/* App styles */
.root .ul a {
  border-radius: 5px !important;
  padding: 2px !important;
}

.root.default,
.root.Sat {
  background: radial-gradient(
    ellipse at center,
    rgba(8, 25, 42, 1) 19%,
    rgba(1, 4, 6, 1) 100%
  );
  color: rgb(255, 255, 255);
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.root.default .main-footer,
.root.default .header,
.root.Sat .main-footer,
.root.Sat .header {
  background: #353358;
}
.root.Sat .ul a,
.root.default .ul a {
  background-color: #b09da4;
  color: #ac3b61;
  border: 1px solid #b09da4;
}

.root.Earth {
  background: none;
  background-color: #8fc1e3;
  text-shadow: none;
}
.root.Earth .main-footer,
.root.Earth .header {
  background-color: #687864;
}
.root.Earth .ul a {
  background-color: #8fc1e3;
  color: #f7f9fb;
  border: 1px solid #8fc1e3;
}
.root.Earth .main-planet,
.root.Earth .main-planet h1 {
  color: #f7f9fb;
}
.root.Earth .main-planet h1 {
  text-shadow: 0 0 1px #999, 1px 1px 1px #888, 2px 2px 1px #777,
    3px 3px 1px #666, 4px 4px 1px #555, 5px 5px 1px #444;
}

.root.Merc {
  background: radial-gradient(#bc4639, #d4a59a);
  background-color: #8fc1e3;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.425), 0 1px 1px rgba(0, 0, 0, 0.426),
    -1px 0 1px rgba(0, 0, 0, 0.426), 0 -1px 1px rgba(0, 0, 0, 0.426);
}
.root.Merc .main-footer,
.root.Merc .header {
  background-color: #5c2018;
}
.root.Merc .ul a {
  background-color: #4285f4;
  color: #f3e0dc;
  border: 1px solid #4285f4;
  text-shadow: none;
}
.root.Merc .main-planet,
.root.Merc .main-planet h1 {
  color: #f3e0dc;
}

.root.Ven {
  background: radial-gradient(ellipse at center, #edc7b7 49%, #eee2dc 100%);
  text-shadow: 1px 0 1px rgba(255, 255, 255, 0.131),
    0 1px 1px rgba(255, 255, 255, 0.109), -1px 0 1px rgba(255, 255, 255, 0.134),
    0 -1px 1px rgba(255, 255, 255, 0.141);
}
.root.Ven .main-footer,
.root.Ven .header {
  background-color: #bab2b5;
}
.root.Ven .ul a {
  background-color: #b09da4;
  color: #ac3b61;
  border: 1px solid #b09da4;
}
.root.Ven .main-planet {
  color: #123c69;
}
.root.Ven .main-planet h1 {
  color: #ac3b61;
}

.root.Jup {
  background: linear-gradient(#8f6331, #c7aa92);
  text-shadow: none;
}
.root.Jup .main-footer,
.root.Jup .header {
  background-color: #5c59464f;
}
.root.Jup .ul a {
  background-color: #c7aa92;
}
.root.Jup .main-planet {
  color: #4a2e1e;
  text-shadow: 0px 2px 3px rgba(85, 85, 85, 0.509);
}
.root.Jup .main-planet h1 {
  color: #5c3825;
  text-shadow: 0px 2px 3px rgb(51, 51, 51);
}

.root.Ur {
  background: none;
  background-color: #48993f;
  text-shadow: 1px 0 1px rgba(255, 255, 255, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2), -1px 0 1px rgba(255, 255, 255, 0.2),
    0 -1px 1px rgba(255, 255, 255, 0.2);
}
.root.Ur .main-footer,
.root.Ur .header {
  background-color: #1c6c36;
}
.root.Ur .main-planet,
.root.Ur .main-planet h1 {
  color: #ffe6ba;
}
.root.Ur .ul a {
  background-color: #0e4e23;
  color: #ffe6ba;
  border: 1px solid #1c6c36;
  text-shadow: none;
}

.root.Nep {
  background: none;
  background-color: #17177b;
  text-shadow: none;
}
.root.Nep .main-footer,
.root.Nep .header {
  background-color: #553d67;
}
.root.Nep .ul a {
  background-color: #4c1905;
  color: #b00000;
  border: 1px solid #4c1905;
  text-shadow: none;
}
.root.Nep .main-planet h1 {
  color: #f64c72;
}
.root.Nep .main-planet {
  color: #ffffff;
}

.root.Sun {
  background: none;
  background-color: #fbe8a6;
  text-shadow: 1px 0 1px rgba(255, 255, 255, 0.425),
    0 1px 1px rgba(255, 255, 255, 0.425), -1px 0 1px rgba(255, 255, 255, 0.425),
    0 -1px 1px rgba(255, 255, 255, 0.425);
}
.root.Sun .main-footer,
.root.Sun .header {
  background-color: #f4976c;
}
.root.Sun .ul a {
  background-color: #d2fdff;
  color: #303c6c;
  border: 1px solid #d2fdff;
}
.root.Sun .main-planet h1 {
  color: #303c6c;
}
.root.Sun .main-planet {
  color: #28393b;
}

.root.Mars {
  background: none;
  background-color: #c4a189;
  text-shadow: 1px 0 1px rgba(255, 255, 255, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2), -1px 0 1px rgba(255, 255, 255, 0.2),
    0 -1px 1px rgba(255, 255, 255, 0.2);
}
.root.Mars .main-footer,
.root.Mars .header {
  background-color: #4c1905;
}
.root.Mars .ul a {
  background-color: #290e03;
  color: #b00000;
  border: 1px solid #4c1905;
  text-shadow: none;
}
.root.Mars .main-planet {
  color: #4c1905;
}
.root.Mars .main-planet h1 {
  color: #4c1905;
}

.root .container {
  text-shadow: none;
}
